<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTestGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfTestGui.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRemote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteFile" serializeAs="String">
                <value>https://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>This is a test subject for signature.</value>
            </setting>
            <setting name="Message" serializeAs="String">
                <value>This is a test message for signature.</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>What's in the title?</value>
            </setting>
            <setting name="Signer1" serializeAs="String">
                <value />
            </setting>
            <setting name="Signer2" serializeAs="String">
                <value />
            </setting>
            <setting name="SignatureId" serializeAs="String">
                <value />
            </setting>
        </WpfTestGui.Properties.Settings>
    </userSettings>
</configuration>